### Pandas Dataframe

In [ ]:
import pandas as pd

In [ ]:
df  = pd.DataFrame({
    'Name' : ['Tofik','Abrar','Musab'],
    'Age' : [21,22,23]
})

### Attributes in Data Frame

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

### Accessing Data  
######    **loc means using lables**
######    **iloc means using indexes**

In [ ]:
print(df.loc[0])
print(df.iloc[1:3])

#### Methods in Data Frame

In [ ]:
# head() is used to retrieve initial rows
df.head()

In [23]:
# tail() is used to retrieve last rows
df.tail()

    Name  Age
0  Tofik   21
1  Abrar   22
2  Musab   23

In [ ]:
# info() is used to get information about your data frame 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [25]:
# describe() is used to get statistical information about your data frame 
df.describe()

        Age
count   3.0
mean   22.0
std     1.0
min    21.0
25%    21.5
50%    22.0
75%    22.5
max    23.0