In [1]:
# Cell 1: Hello message
print("Hello")

Hello

In [2]:
# Cell 2: Demonstration of comments (single-line and multi-line)
# This is single line comment

'''
    This is multi 
    line comment
'''

'\n    This is multi \n    line comment\n'

In [3]:
# Cell 3: Working with different data types (integer, float, and complex)
integer_variable = 10
float_variable = 365.45
complex_variable = 10 + 2j

# Display values and types
print(f"""
    integer value : {integer_variable}, type : {type(integer_variable)}
    float value : {float_variable}, type : {type(float_variable)}
    complex value : {complex_variable}, type : {type(complex_variable)}
""")

    integer value : 10, type : <class 'int'>
    float value : 365.45, type : <class 'float'>
    complex value : (10+2j), type : <class 'complex'>

In [4]:
# Cell 4: String operations
str = "Welcome to Python"

# Print whole string
print(str)

# Print only first character of string
print(str[0])

# Print 3rd character to -1 character of string using slicing
print(str[3:-1])

# Print string from 4th character to the end of string using slicing
print(str[4:])

# Print whole string 5 times
print(str * 5)

Welcome to Python
W
come to Pytho
ome to Python
Welcome to PythonWelcome to PythonWelcome to PythonWelcome to PythonWelcome to Python

In [5]:
# Cell 5: List operations
festivals = ['Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram']

# Print whole list
print(festivals)

# Print only first element of list
print(festivals[0])

# Print elements starting from 2nd till 3rd
print(festivals[2:4])

# Print elements starting from 2nd element till last
print(festivals[2:])

# Print whole list 4 times
print(festivals * 4)

['Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram']
Navratri
['Holi', 'Rakshabandhan']
['Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram']
['Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram', 'Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram', 'Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram', 'Navratri', 'Diwali', 'Holi', 'Rakshabandhan', 'Bakri Eid', 'Muharram']

In [6]:
# Cell 6: Dictionary operations
fruit = {
    "Apple": "Apple is a healthy fruit",
    "Orange": "Orange has rich vitamin C",
}

# Display keys and values separately
for key in fruit:
    print(f"{key}: {fruit[key]}")

Apple: Apple is a healthy fruit
Orange: Orange has rich vitamin C

In [7]:
# Cell 7: Tuple operations
vegetables = ('Potato', 'Brinjal', 'Tomato', 'Cabbage', 'Cauliflower')

# Print whole tuple
print(vegetables)

# Print only first element of tuple
print(vegetables[0])

# Print elements starting from 2nd till 4th
print(vegetables[2:4])

# Print elements starting from 2nd element till last
print(vegetables[2:])

# Print whole tuple twice
print(vegetables * 2)

('Potato', 'Brinjal', 'Tomato', 'Cabbage', 'Cauliflower')
Potato
('Tomato', 'Cabbage')
('Tomato', 'Cabbage', 'Cauliflower')
('Potato', 'Brinjal', 'Tomato', 'Cabbage', 'Cauliflower', 'Potato', 'Brinjal', 'Tomato', 'Cabbage', 'Cauliflower')

In [14]:
# 8. Write a Python program which will have Main Menu for selecting Elective Subjects as
# follows:
# Main Menu:
# 1. Joomla
# 2. Ruby onRails
# 3. Drupal
# 4. Android
# 5. iOS
# Display proper message for every choice. Use elif to create a menu:

choice = int(input("""
    Enter 1 : Joomla
    Enter 2 : Ruby onRails
    Enter 3 : Drupal
    Enter 4 : Android
    Enter 5 : IOS
      """))
if(choice == "1"):
    print("You selected Joomla")
elif choice == 2:
    print("You selected Ruby")
elif choice == 3:
    print("You selected Drupal")
elif choice == 4:
    print("You selected Android")
elif choice == 5:
    print("You selected IOS")
else : 
    print("Please choose correct option")

    Enter 1 : Joomla
    Enter 2 : Ruby onRails
    Enter 3 : Drupal
    Enter 4 : Android
    Enter 5 : IOS
       3

You selected Drupal

In [21]:
# 9. Write a Python program that will demonstrate the use of Sting Functions.

x = "this is string"
print(x.upper())
print(len(x))
print(x.isupper())

THIS IS STRING
14
False

In [24]:
# Write a Python program that will display numbers from 1 to 20(both inclusive) using
# range()function.

for i in range(1,21):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [27]:
# 11. Write a Python program to calculate the area of rectangle and square.

length = int(input("Enter Length : "))
width = int(input("Enter Length : "))
print(f"Area of ractagle is {length * width}")
side = int(input("Enter side : " ))
print(f"Area of square is {side * side}")

Enter Length :  10
Enter Length :  50

Area of ractagle is 500

Enter side :  5

Area of square is 25

In [31]:
# 12. Write a Python program to swap of two numbers.
a = 10
b = 20

print(f"Before swap {a , b}")

a,b = b,a



print(f"After  swap {a , b}")

Before swap (10, 20)
After  swap (20, 10)

In [34]:
# 13. Write a Python program to calculate the sum of 5 subject and find the percentage.

subject1 = 90
subject2 = 75
subject3 = 58
subject4 = 69
subject5 = 77

total = subject1 + subject2 + subject3 + subject4 + subject5
print(f"Total is : {total}, Average is : {total / 5}")

Total is : 369, Average is : 73.8

In [35]:
# 14. Write a Python program to find length of string.
str = "this program calculate length of string"
print(len(str))

39

In [38]:
# 15. Write a Python program that will perform following conversions using appropriate
# method:
# 1. string to integer
# 2. integer to float
# 3. tuple to list
# 4. string to list
# 5. list to tuple

str = "10"
print(int(str))

int_to_float = 20
print(float(int_to_float))

tuple_to_list =

10
20.0