### counting null values

In [40]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Movie-Data.csv")
df.isnull()
## true means that field is null
df.isnull().sum()

In [ ]:
df['Metascore'].isnull().sum()

### dropping column

In [ ]:
df = df.drop(['Rating'],axis=1)

In [ ]:
df

##### 2nd way to delete column. we have inplace attribute. set it to True it will delete column permanently.

In [ ]:
df.drop(['Rank'],axis=1,inplace=True)

In [ ]:
df

##### drop all null values rows

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
df

### remove duplicates

In [ ]:
# df.duplicated().sum()
# df['Year'].duplicated().sum()
df['Title'].drop_duplicates()

In [ ]:
df['Title'].value_counts()

##### Some functions

In [ ]:
a = df['Revenue (Millions)']
a

In [ ]:
len(a)

In [ ]:
sum(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [43]:
np.mean(a)
a.mean()

np.float64(84.5645584725537)

In [44]:
np.sin(a)

a.median()

np.float64(48.150000000000006)

In [45]:
df['Actors'].describe()

count                                                   838
unique                                                  834
top       Daniel Radcliffe, Emma Watson, Rupert Grint, M...
freq                                                      2
Name: Actors, dtype: object